@import "variables";
@import "colors";
@import "mixins";
@import '../node_modules/normalize.css/normalize';

body {

    background-color: darken($color-body, 3%);
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

nav {
    background: linear-gradient(to bottom, #333 0%, #ccc 90%);
    border-radius: 10px;

    ul {
    margin: 0;
    padding: 15px;
  }

    li {
    display: inline-block;
    list-style-type: none;
  }

    a {
    text-decoration: none;
    padding: 15px;
    color: $color-black-1;
    &:hover {
    background-color: black;
    opacity: 0.7;
    color: white;
    }
  }
}

.content {
        background-color: $color-body;
        border-radius: $borderRadius;
        color: lighten($color-body, 50%);
        float: right;
        margin-top: 15px;
        margin-left: 20px;
        padding: 10px;
        width: 700px;
}

img {
    width: 100%;
}

aside {
      background-color: darken($color-body, 10%);
      border-radius: $borderRadius;
      color: white;
      float:left;
      margin-top: 15px;
      width: 240px;
      padding: 10px;
      line-height: 1.6em;
      opacity: 0.7;

      li {
      list-style-type: square;
      }

      a {
      color: white;
      text-decoration: none;
      &:hover {
      color: green;
    }
  }
}

@include icon('.doc', 'W', #0000ff);
@include icon('.xls', 'P', #EC6000);
@include icon('.ppt', 'E', #00FF00);

li {
  &:first-of-type {
    color: #0000ff;
  }
  &:nth-of-type(2) {
    color: #EC6000;
  }
  &:last-of-type(3) {
    color: #00FF00
  }
}
